[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
flake8 = "*"
gunicorn = "*"
psycopg2-binary = "*"
boonsdk = "*"

[requires]
python_version = "3.7"
